.header{
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    font-weight: bold;
    height: 100px;
    width: 100%;
    font-size: 35px;
}
.shoppingCard{
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 15px;
}
.shoppingCard:hover{
    background-color: brown;
}
.shoppingCard img{
   height: 50%;
   width: auto;
}